<table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="transparent" align="center">
	<tbody>
		<tr>
			<td>
				<a href="https://youtube.com/watch?v={{videoId}}">
					<table style="background-repeat: no-repeat; background-size: cover; background-position: center; background-image: url({{videoThumbnail}})" align="center">
						<tbody>
							<tr>
								<td>
									<img src="https://ci3.googleusercontent.com/proxy/gyJ1NZS7DYr8x8_2Bpw-S6bQdBydtT3RZddScQY1BlNOUB0en3d0bMIIDHr4Z2rJ3T-BaMnvhFzX7dsbk50IIKGLUQpZ5eVusZGsModMqJUAEg=s0-d-e1-ft#https://www.gstatic.com/youtube/img/email/transparent_pixel.png" style="max-height: 300px" width="600px" />
								</td>
							</tr>
							<tr>
								<td style="text-align: right">
									<div style="color: white;background-color: #212121;display: inline-block;padding: 4px;border-radius: 2px;font-family: arial,Arial,sans-serif;font-size: 12px; margin-bottom: 8px; margin-right: 8px;">{{videoDuration}}</div>
								</td>
							</tr>
						</tbody>
					</table>
				</a>
			</td>
		</tr>

		<tr>
			<td>
				<table height="16" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td height="16">
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>

		<tr>
			<td>
				<table style="table-layout: fixed" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td>
								<a href="https://youtube.com/watch?v={{videoId}}">
									<img src="{{channelThumbnail}}" style="display:block;border-radius:50%" width="32" border="0">
								</a>
							</td>

							<td width="16"></td>

							<td>
								<table cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td>
												<a href="https://youtube.com/watch?v={{videoId}}" style="text-decoration: none;">
													<span style="font-family: Roboto, sans-serif; font-size: 14px; color: #212121; line-height: 20px;">{{videoTitle}}</span>
												</a>
											</td>
										</tr>

										<tr>
											<td>
												<a href="https://youtube.com/channel/{{channelId}}" style="font-family:Roboto,sans-serif;font-size:12px;color:#757575;line-height:16px;letter-spacing:0px;text-decoration:none">{{channelName}}</a>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
