<table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="transparent" align="center" style="max-width: 100%;">
	<tbody>
		<tr>
			<td>
				<a href="<%= videoURL %>" width="100%">
					<img src="<%= videoThumbnail %>" width="100%" />
				</a>
			</td>
		</tr>

		<tr>
			<td>
				<table height="8" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td height="8">
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>

		<tr>
			<td>
				<table style="table-layout: fixed" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td>
								<a href="<%= videoURL %>">
									<img src="<%= channelThumbnail %>" style="display:block;border-radius:50%" width="32" border="0">
								</a>
							</td>

							<td style="width: 100%; padding: 0 16px;">
								<table cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td>
												<a href="<%= videoURL %>" style="text-decoration: none;">
													<span style="font-family: Roboto, sans-serif; font-size: 14px; color: #212121; line-height: 20px;"><%= videoTitle %></span>
												</a>
											</td>
										</tr>

										<tr>
											<td>
												<a href="https://youtube.com/channel/<%= channelId %>" style="font-family:Roboto,sans-serif;font-size:12px;color:#757575;line-height:16px;letter-spacing:0px;text-decoration:none"><%= channelTitle %></a>
											</td>
										</tr>
									</tbody>
								</table>
							</td>

							<td>
								<div style="color: white;background-color: <%= isLiveStreamOrPremere ? '#ff0000' : '#212121' %>;display: inline-block;padding: 4px;border-radius: 2px;font-family: arial,Arial,sans-serif;font-size: 12px;"><%= videoDuration %></div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
